.App_Menu_ul{
    overflow: hidden;
}

.App_Menu_li{
    background-color: lightcyan;
    display: inline-block;
    padding: 1%;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px black outset;
    border-radius: 5px;

}

.App_Menu_li_on {
    border: 2px black inset;
}