.App_Table_table {
  margin: auto;
  width: 70%;
}

.App_Table_tr {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}


.App_Table_tr:nth-child(odd) {
  background-color: lightgray;
}

.App_Table_tr:nth-child(even) {
  background-color: rgb(163, 161, 161);
}

.App_Table_td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.App_Table_td_1 {
  font-weight: bold;
  border: 2px green solid;
}

.App_Table_td_3 {
  font-weight: bold;
  border: 2px red solid;
}

.App_Table_td_2 {
  font-weight: bold;
  border: 2px orange solid;
}

.App_Table_td_4 {
  font-weight: bold;
  border: 2px purple solid;
}

input {
  border: hidden;
  width: 100%;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  background-color: lightgray;
}